@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway:ital,wght@1,300&family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 24px;
  font-family: Raleway, orbitron, sans-serif;
}

:root {
  --form-bg-color: rgb(245, 245, 245);
  --form-indent: 2.5vw;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('images/sidebar-bkg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 40vw;  
}

.sidebar-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 1.5rem;
  background-color: black;
  opacity: 0.5;
  width: 40vw; 
  min-height: 20vh;
  margin-top: 25vh;
  padding: 1.5rem;
}

.sidebar-logo-img {
  color: white;
  flex-grow: 1;
  margin: auto;
  max-height: 10vh;
}

.sidebar-logo-text {
  color: white; 
  font-size: 3rem;
  font-weight: bold; 
  margin: auto;
  text-align: center;
  flex-grow: 1; 
}

.sidebar-bg-img-attribution {
  margin-bottom: 1vh;
  background-color: black;
  opacity: 0.5;
  color: white;
  font-size: 0.7rem;
}

.sidebar-bg-img-attribution a {
  font-size: 0.7rem;
  color: white; 
  text-decoration: none;
}

.form-container {
  display: flex;
  width: 60vw;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 1;
  background-color: var(--form-bg-color); 
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  height: 25vh;
  background-color: var(--form-bg-color);
  padding-left: var(--form-indent);
  padding-right: var(--form-indent);
  box-shadow: 0px 3px 3px rgb(190, 190, 190);
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  background-color: rgb(250, 250, 250);
  padding-left: var(--form-indent);
  padding-right: var(--form-indent);
  box-shadow: 0px 3px 3px rgb(190, 190, 190);
}

.form-inputs h1 {
  font-size: 1.5rem;
}

.form-inputs label {
  font-size: 0.5rem;
}

.form-inputs input {
  padding: 0.1rem;
  font-size: 0.7rem;
  width: clamp(150px, 20vw, 400px);
  border: 2px solid #E5E7EB;
  border-radius: 5px;
}

.name-inputs,
.contact-detail-inputs,
.password-inputs {
  display: flex;
  flex-direction: row;
  gap: clamp(2vw, 5vw, 100px);
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#mailing_list {
  width: 1rem;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(20px, 3vh, 50px);
  flex-grow: 1;
  background-color: var(--form-bg-color);
  padding-top: 2vh;
  padding-bottom: 10vh;
  padding-left: var(--form-indent);
  padding-right: var(--form-indent);
}

.form-submit p,
.form-submit a {
  font-size: 0.7rem;
  text-decoration: none;
}

.submit-btn {
  width: clamp(150px, 20vw, 200px);
  font-family: orbitron, sans-serif;
  border-radius: 5%;
  border: 2px solid rgb(128, 128, 128);
  box-shadow: 1px 1px;
}

.submit-btn:hover {
  background-color: rgb(189, 215, 245);
}

/* form validation */

.password-inputs input:invalid {
  border: 2px solid red;
  box-shadow: 1px 1px 1px red;
  background-color: rgb(250, 220, 220);
}

/* Whitespace included in password placeholders so that invalid style not applied until user has interacted
Specificity of this rule the same as invalid so must appear after invalidity rule*/
.password-inputs input:placeholder-shown {
  border: 2px solid #E5E7EB;
  background-color: rgb(255,255,255);
  box-shadow: none;
}

.form-inputs input[type="text"]:focus,
.form-inputs input[type="email"]:focus,
.form-inputs input[type="tel"]:focus,
.form-inputs input[type="password"]:focus {
  border: 2px solid rgb(83, 155, 238);
  box-shadow: 1px 1px 1px rgba(83, 155, 238, 0.774);
  background-color: rgb(189, 215, 245);
}

.form-group:focus-within label {
  font-weight: bold;
}

/* override default autofill color */
input:-webkit-autofill, input:-webkit-autofill:focus {
  box-shadow: 0 0 0 30px white inset; /* [this sets an inset border within the form field - blur radius covers autocomplete background] */
  -webkit-text-fill-color: #333; /*font colour*/
}

#password-conf-message,
#password-message {
  font-size: 0.5rem;
}