* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/sidebar-bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 40vw;  
  }

  .sidebar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
    width: 40vw;  
    height: 4rem;
    margin-top: 25vh;
  }

  .sidebar-logo-img {
    color: white;
    margin: auto;
    flex-grow: 1;
  }

  .sidebar-logo-text {
    color: white; 
    font-size: 1.5rem;
    font-weight: bold; 
    margin: auto;
    flex-grow: 1;  
  }

  .sidebar-bg-img-attribution {
    margin-bottom: 1vh;
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 0.8rem;
  }

  .sidebar-bg-img-attribution, a {
    color: white; 
    text-decoration: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon; 
    /* bg-color debugging only - remove */
    width: 60vw;
  }

  .form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: lightblue;
    flex-grow: 1;
    /* flex-basis: auto; */
  }

  .form-header, .srv-text {
    padding-left: 10px;
  }

  .form-inputs {
    background-color: lightgreen;
    flex-grow: 1;
    /* flex-basis: auto;   */
  }

  .form-submit {
    background-color: beige;
    flex-grow: 1;
    /* flex-basis: auto; */
  }