* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }

  :root {
    --form-bg-color: rgb(245, 245, 245);
    --form-indent: 2.5vw;
  }
  
  .page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/sidebar-bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 40vw;  
  }

  .sidebar-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
    width: 40vw; 
    min-height: 20vh;
    margin-top: 25vh;
  }

  .sidebar-logo-img {
    color: white;
    flex-grow: 1;
    margin: 5vh;
    max-height: 10vh;
  }

  .sidebar-logo-text {
    color: white; 
    font-size: 2.5rem;
    font-weight: bold; 
    margin: auto;
    padding: 2.5vh 0;
    text-align: center;
    flex-grow: 1; 
  }

  .sidebar-bg-img-attribution {
    margin-bottom: 1vh;
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 0.8rem;
  }

  .sidebar-bg-img-attribution, a {
    font-size: 0.75rem;
    color: white; 
    text-decoration: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: lightsalmon; 
    /* temp bg-color for testing only - reset to var(--form-bg-color) */
    width: 60vw;
  }

  .form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    flex-grow: 1;
    background-color: var(--form-bg-color);
    padding-left: var(--form-indent);
    box-shadow: 0px 3px 3px rgb(190, 190, 190);
  }

  .form-inputs {
    flex-grow: 1;
    background-color: rgb(250, 250, 250);
    padding-top: 1vh;
    padding-left: var(--form-indent);
    box-shadow: 0px 3px 3px rgb(190, 190, 190);
  }

  .form-submit {
    flex-grow: 1;
    background-color: var(--form-bg-color);
    padding-top: 2vh;
    padding-left: var(--form-indent);
  }